fastapi
uvicorn
pytest
httpx
pymongo
python-dotenv
langchain
langchain-mongodb
langchain-ollama
pdfplumber
PyPDF2
pytesseract
pdf2image
vietnamese
underthesea
sentence-transformers
langchain-huggingface
torch
numpy
opencv-python
